@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat 1fr 1fr 1fr;
  grid-template-rows: repeat 1fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

header {
  grid-area: header;
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
header .logo {
  margin: 30px 2px 2px 40px;
}
header nav {
  justify-content: flex-end;
}
header .navbar {
  display: flex;
  list-style: none;
  gap: 12px;
  margin: 40px 38px 40px 0px;
}
header .navbar li a {
  text-decoration: none;
  color: #E4CD01;
}
header .navbar li a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

main {
  grid-area: main;
  display: flex;
  width: 100%;
  height: 140vh;
  background-color: #edeae5;
  border-radius: 15%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}
main div a:hover {
  text-decoration: none;
  color: rgb(77, 76, 76);
  cursor: pointer;
}
main .img-1 {
  width: auto;
  position: relative;
  right: -100px;
}
main .img-2 {
  width: auto;
  position: relative;
  right: -60px;
}
main .item-2 {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  position: relative;
  right: 215px;
  bottom: 100px;
  background-color: rgba(255, 255, 255, 0.1215686275);
  border-radius: 10%;
}
main .item-4 {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  position: relative;
  right: 235px;
  bottom: 105px;
  background-color: rgba(255, 255, 255, 0.1215686275);
  border-radius: 10%;
}

.main-indumentaria {
  background-color: #edeae5;
  display: grid;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  column-gap: 30px;
  row-gap: 30px;
  border-radius: 15%;
  padding: 10%;
  grid-template-columns: repeat 3, 1 fr;
  grid-template-rows: repeat 4, 1 fr;
  grid-template-areas: "f-uno f-dos f-tres" "f-uno f-dos f-tres" "f-cuatro f-cinco f-seis" "f-cuatro f-cinco f-seis";
}
.main-indumentaria div a:hover {
  text-decoration: none;
  color: #E4CD01;
  cursor: pointer;
}

main div span a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

main div img {
  border-radius: 15%;
}

main div span {
  padding: 3%;
  font-size: 16px;
  text-align: center;
}

.f-uno {
  grid-area: f-uno;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-dos {
  grid-area: f-dos;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-tres {
  grid-area: f-tres;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-cuatro {
  grid-area: f-cuatro;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-cinco {
  grid-area: f-cinco;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f-seis {
  grid-area: f-seis;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-decoracion {
  background-color: #edeae5;
  display: grid;
  width: 100%;
  height: 180vh;
  font-family: "Poppins", sans-serif;
  column-gap: 5px;
  row-gap: 9px;
  padding: 8%;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  grid-template-columns: repeat 3, 1 fr;
  grid-template-rows: repeat 19% 2, 1 fr;
  grid-template-areas: "text-banner text-banner text-banner" "uno dos tres" "cuatro cinco seis";
}

.text-banner {
  grid-area: text-banner;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 28px;
  text-align: center;
  padding: 10px 25px 30px 25px;
}

.uno {
  grid-area: uno;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.dos {
  grid-area: dos;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.tres {
  grid-area: tres;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.cuatro {
  grid-area: cuatro;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.cinco {
  grid-area: cinco;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.seis {
  grid-area: seis;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.main-favoritos {
  background-color: #edeae5;
  display: grid;
  width: 100%;
  height: auto;
  border-radius: 15%;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  padding: 5%;
  grid-template-columns: repeat 3, 1 fr;
  grid-template-rows: repeat 12% 1, 1 fr;
  grid-template-areas: "text-banner-fav text-banner-fav text-banner-fav" "foto-favuno foto-favdos foto-favtres";
}
.main-favoritos div a:hover {
  text-decoration: none;
  color: #E4CD01;
  cursor: pointer;
}

.text-banner-fav {
  grid-area: text-banner-fav;
  display: grid;
  font-size: 28px;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3px;
  padding: 4%;
}

.corazon {
  margin: 10px 105px 10px 105px;
}

.foto-favuno {
  grid-area: foto-favuno;
  display: grid;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.foto-favdos {
  grid-area: foto-favdos;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foto-favtres {
  grid-area: foto-favtres;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main div img {
  border-radius: 15%;
}

.registrarme-banner {
  font-weight: bolder;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 10px 215px 80px 260px;
}

.registrarme {
  font-weight: bold;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 30px;
  background-color: rgba(228, 205, 1, 0.1529411765);
}

.class-formu {
  display: flex;
  flex-flow: column wrap;
  justify-content: none;
  justify-content: none;
  padding: 60px 350px 40px 350px;
  font-family: "Poppins", sans-serif;
}

main form input {
  border-color: darkgray;
}

main form label {
  font-size: 15px;
}

@media (max-width: 768px) {
  .hero {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 12% 1fr 19%;
    grid-template-areas: "header header" "main main " "footer footer";
    /*media QUERIES 768 index*/
  }
  .hero header {
    font-size: 12px;
  }
  .hero .logo {
    width: 60%;
    margin: 30px 2px 2px 40px;
  }
  .hero main { /*main index y resgistracion*/
    grid-area: main;
    width: 100%;
    height: auto;
    background-color: #e8e5ed;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .hero main div a:hover {
    text-decoration: none;
    color: rgb(77, 76, 76);
    cursor: pointer;
  }
  .hero footer {
    grid-area: footer;
    display: flex;
    width: 100%;
    background-color: #E4C6BD;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }
  .hero .iconos-footer {
    text-decoration: none;
    list-style: none;
    align-items: center;
  }
  .hero .texto-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    text-align: left;
    color: #FFFFFF;
  }
  .hero .navbar {
    display: flex;
    list-style: none;
    font-size: 15px;
    gap: 5px;
    margin: 40px 30px 50px 0px;
  }
  .hero .img-1 {
    position: relative;
    right: -50px;
    width: 280px;
    height: 460px;
  }
  .hero .img-2 {
    position: relative;
    right: 10px;
    width: 280px;
    height: 460px;
  }
  .hero .item-2 {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: relative;
    right: 170px;
    bottom: 90px;
    background-color: rgba(255, 255, 255, 0.1215686275);
    border-radius: 10%;
  }
  .hero .item-4 {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: relative;
    right: -500px;
    bottom: 110px;
    background-color: rgba(255, 255, 255, 0.1215686275);
    border-radius: 10%;
  }
  .main-indumentaria {
    background-color: #edeae5;
    display: grid;
    width: 100%;
    border-radius: 15%;
    height: auto;
    font-family: "Poppins", sans-serif;
    grid-template-columns: repeat 2, 1 fr;
    grid-template-rows: repeat 3, 1 fr;
    grid-template-areas: "f-uno f-dos" "f-tres f-cuatro" "f-cinco f-seis";
  }
  /*media queries registrarse*/
  .registrarme-banner {
    font-size: 16px;
    margin: 30px 50px 50px 50px;
  }
  .registrarme {
    font-size: 16px;
  }
  .class-formu {
    display: flex;
    flex-flow: column wrap;
    padding: 30px 150px 30px 150px;
    font-family: "Poppins", sans-serif;
  }
  /*media queries favoritos??*/
  .text-banner-fav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: lighter;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    align-items: center;
    padding: 3%;
  }
}
/*.tamaño-imagen{ 
        width: 190px;
        height: 300px;  }*/
main div span a {
  font-size: 14px;
}

main div span {
  padding: 3%;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 320px) {
  .hero {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 14%, 1fr, 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  header {
    grid-area: header;
    display: flex;
    width: 100%;
    height: 30vh; /*o 23 vh*/
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  header .logo {
    margin: 40%;
  }
  header nav {
    grid-area: header;
    display: flex;
    width: 100%;
    height: auto;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    align-items: start;
    position: absolute;
  }
  main {
    grid-area: main;
    width: 100%;
    height: auto;
    background-color: #edeae5;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    padding: 8%;
  }
  footer {
    grid-area: footer;
    display: flex;
    width: 100%;
    height: 40vh;
    background-color: #E4C6BD;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin: auto;
  }
  .iconos-footer {
    text-decoration: none;
    list-style: none;
    align-items: center;
  }
  .texto-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    text-align: left;
    color: #FFFFFF;
  }
  .imagen-footer {
    width: 18px;
    height: 18px;
  }
  header img {
    width: 77px;
    height: 77px;
  }
  .navbar {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 60px 35px 50px 5px;
  }
  .logo {
    margin: 0px 15px 5px 115px;
  }
  /*class de Page INDEX*/
  .img-1 {
    right: -40px;
    width: 190px;
    height: 320px;
  }
  .img-2 {
    right: -40px;
    width: 200px;
    height: 330px;
  }
  .item-2 {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    position: relative;
    right: -80px;
    bottom: 100px;
    background-color: rgba(255, 255, 255, 0.1215686275);
    border-radius: 10%;
  }
  .item-4 {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    position: relative;
    right: -90px;
    bottom: 105px;
    background-color: rgba(255, 255, 255, 0.1215686275);
    border-radius: 10%;
  }
  .text-banner-fav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: lighter;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    align-items: center;
    padding: 5%;
  }
  .tamaño-imagen {
    width: 170px;
    height: 280px;
  }
  main div span a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  main div span {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  /*class de Page REGISTRAR*/
  .registrarme-banner {
    font-size: 18px;
    margin: 10px 50px 50px 50px;
  }
  .class-formu {
    display: flex;
    flex-flow: column wrap;
    padding: inherit;
    font-family: "Poppins", sans-serif;
    padding: 4%;
  }
  .corazon {
    width: 20px;
    height: 20px;
  }
  /*class de Page DECORACION*/
  .main-decoracion {
    background-color: #edeae5;
    display: grid;
    width: 100%;
    height: 180vh;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    column-gap: 5px;
    row-gap: 5px;
    padding: 8%;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    grid-template-columns: repeat 2, 1 fr;
    grid-template-rows: repeat 4, 1 fr;
    grid-template-areas: "text-banner text-banner" "uno dos" "tres cuatro" "cinco seis";
  }
  .text-banner {
    grid-area: text-banner;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    text-align: center;
  }
  .fotos-queries-320 {
    width: 120px;
    height: 180px;
  }
}
footer {
  grid-area: footer;
  display: flex;
  width: 100%;
  height: 218px;
  background-color: #E4C6BD;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
footer .iconos-footer {
  text-decoration: none;
  list-style: none;
  align-items: center;
  margin: 49px 15px 49px 15px;
}
footer .texto-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  text-align: left;
  color: #FFFFFF;
  margin: 52px 15px 52px 15px;
  gap: 7px;
}

/*# sourceMappingURL=style.css.map */
