.main-indumentaria {
    background-color: #edeae5;
    display: grid;
    width: 100%;
    height: auto;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    column-gap: 30px;
    row-gap: 30px;
    border-radius: 15%;
    padding: 10%;
    grid-template-columns: repeat (3, 1 fr);
    grid-template-rows: repeat (4, 1 fr);
    grid-template-areas: 
    "f-uno f-dos f-tres"
    "f-uno f-dos f-tres"
    "f-cuatro f-cinco f-seis"
    "f-cuatro f-cinco f-seis";
    div {
        a{
        &:hover{text-decoration: none;
        color:#E4CD01; 
        cursor:pointer;
        }}}}
main div span a {
    text-decoration: none;
    list-style: none;
    color:black;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    }
main div img {
    border-radius: 15%;
}
main div span{
    padding: 3%;
    font-size: 16px;
    text-align: center;
}

.f-uno {
    grid-area: f-uno;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
.f-dos {
    grid-area: f-dos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
.f-tres { 
    grid-area: f-tres;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
.f-cuatro {
    grid-area: f-cuatro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.f-cinco {
    grid-area: f-cinco;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.f-seis {
    grid-area: f-seis;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}