.main-favoritos { 
    background-color: #edeae5;
    display: grid;
    width: 100%;
    height: auto;
    border-radius: 15%;
    justify-content:center;
    align-items: center;
    row-gap: 8px;
    padding: 2%;
    grid-template-columns: repeat (3, 1 fr);
    grid-template-rows: repeat 12% (1, 1 fr);
    grid-template-areas: 
    "text-banner-fav text-banner-fav text-banner-fav"
    "foto-favuno foto-favdos foto-favtres";
    div {
        a{
        &:hover{text-decoration: none;
        color:#E4CD01; 
        cursor:pointer;
        }}}}
.text-banner-fav {  
    grid-area: text-banner-fav;    
    display: grid;
    /*flex-direction: row;*/
    font-size: 22px;
    /*flex-wrap: wrap;    me lo dijo inspector */ 
    font-weight: lighter;
    font-family:'Poppins', sans-serif;
    justify-content: center;
    align-items:center;
    text-align: center;
    gap: 3px;
    padding: 8%;
        }
.corazon{
    margin: 10px 105px 10px 105px;
}
.foto-favuno {
    grid-area: foto-favuno;
    display: grid;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.foto-favdos {
    grid-area: foto-favdos;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.foto-favtres { 
    grid-area: foto-favtres;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
main div img {
    border-radius: 15%
}