.registrarme-banner {
    font-weight: bolder;
    font-size: 25px;
    font-family:'Poppins', sans-serif;
    text-align: center;
    margin: 10px 215px 80px 260px;  
}
.registrarme {
    font-weight: bold;
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    text-align:center;
    padding: 30px;
    background-color:#e4cd0127;
}
.class-formu {
    display: flex;
    flex-flow: column wrap;
    justify-content: none;
    justify-content:none;
    padding:60px 250px 40px 250px;
    font-family:'Poppins', sans-serif;
}