@media(max-width:768px) {
header {
        font-size: 14px;
        .logo{ 
                width: 65%}
        }

main {
        grid-area: main;
        width: 100%;
        height: auto;
        background-color: #e8e5ed;
        border-radius: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2% ;
        padding: 8%; 
    }
    footer{
            grid-area: footer;
            display: flex;
            width: 100%; 
            background-color: #E4C6BD ;
            flex-direction: row;  
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            font-family:'Poppins', sans-serif;
            font-size: 15px;
    }
    .iconos-footer {
            text-decoration: none;
            list-style: none;
            align-items: center;
    }
    .texto-footer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-decoration: none;
            list-style: none;
            text-align:left;
            color:#FFFFFF;
    }
    .navbar {
            display: flex;
            list-style: none;
            gap: 25px;
            margin: 60px 50px 50px 0px;  
    } 
    .img-1 {
            width: auto;
            position:relative;
            right: -190px;
            width: 280px;
            height: 450px;
            }
    .img-2{
            position:relative;
            right: -190px;
            width: 280px;
            height: 450px;
    }
    
    .item-2   {
            text-decoration: none;
            color:black;
            font-family:'Poppins', sans-serif;
            font-size: 28px; 
            position:relative;
            right: 50px;
            bottom: 100px;
            background-color:#ffffff1f;
            border-radius:  10%;
    }
    .item-4 {
            text-decoration: none;
            color:black;
            font-family:'Poppins', sans-serif;
            font-size: 28px; 
            position:relative;
            right: 46px;
            bottom: 105px;
            background-color:#ffffff1f;
            border-radius:  10%;
    }
    .registrarme-banner{
            font-size: 18px;
            margin: 10px 50px 50px 50px;
    }
    
    .class-formu {
            display: flex;
            flex-flow: column wrap;
            padding:inherit;
            font-family:'Poppins', sans-serif;
    }
}
.text-banner-fav {      
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: lighter;
    font-size: 22px;
    font-family:'Poppins', sans-serif;
    align-items:center;
    padding: 3%;
}
